@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

:root {
	--dark-theme: rgb(17, 17, 17);
	--calc-dark-theme: rgb(80, 80, 80);
	--light-theme: rgb(238, 238, 238);
	--calc-light-theme: rgb(160, 160, 160);
}

.light-theme {
	background-color: var(--light-theme);
	color: var(--dark-theme);
}

.dark-theme {
	background-color: var(--dark-theme);
	color: var(--light-theme);
}

.calc-dark-theme {
	background-color: var(--calc-dark-theme);
	color: var(--light-theme);
}

.calc-light-theme {
	background-color: var(--calc-light-theme);
	color: var(--light-theme);
}
