@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

:root {
	--dark-theme: rgb(17, 17, 17);
	--light-theme: rgb(238, 238, 238);
}

.light-theme {
	background-color: var(--light-theme);
	color: var(--dark-theme);
}

.dark-theme {
	background-color: var(--dark-theme);
	color: var(--light-theme);
}
