body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

.name {
	margin-top: 40px;
	font-size: 40px;
	cursor: default;
}

.calc-body {
	width: 500px;
	height: fit-content;
	position: relative;
	margin-top: 60px;
}

.calc-bkg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: blur(6px);
	opacity: 0.2;
	z-index: 100;
	border-radius: 25px;
}

.calculator-content {
	position: relative;
	z-index: 200;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calculator-content h5 {
	margin-top: -5px;
	margin-bottom: 10px;
}

.calculator-display {
	position: relative;
	width: 90%;
	height: 150px;
	background-color: black;
	border-radius: 12px;
	font-family: 'E1234';
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 40px;
	font-weight: 900;
	overflow: hidden;
}

.actually,
.history {
	width: 95%;
	height: 75px;
	padding-right: 20px;
	display: flex;
	justify-content: end;
	align-items: end;
	max-height: 75px;
	white-space: nowrap;
}

.history {
	margin-top: -35px;
	color: rgb(73, 73, 73);
	font-size: 30px;
}

.actually {
	margin-top: -10px;
}

.clear-btn {
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-grid {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(4, 82px);
	grid-template-rows: repeat(4, 82px);
	margin-top: 20px;
	gap: 20px;
	justify-content: center;
}

button {
	border-radius: 12px;
	border: 0px solid black;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}

.theme {
	position: absolute;
	top: 35px;
	right: 35px;
}

.theme-switch {
	opacity: 0.1;
	width: 100px;
	height: 50px;
	padding: 3px;
	border-radius: 28px;
}

.theme-button {
	width: 50px;
	height: 50px;
	border: 0px solid black;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-content: center;
}

.left-position {
	position: absolute;
	top: 3px;
	left: 3px;
	transition: all 1s ease;
}

.left-position-default {
	position: absolute;
	top: 3px;
	left: 3px;
}

.right-position {
	position: absolute;
	top: 3px;
	right: 3px;
	transition: all 1s ease;
}

.right-position-default {
	position: absolute;
	top: 3px;
	left: 3px;
}

.theme-img {
	width: 50px;
	height: 50px;
	display: flex;
	align-content: center;
	scale: 0.5;
}

.button-theme-img {
	scale: 0.5;
	position: relative;
	left: -4px;
}
